// Для примера создала миксин для шрифтов, чтобы использовать в мобильной верстке

@mixin font_mob ($fw, $ff, $fs, $lh) {

    font-weight: $fw;
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    font-style: normal;
};


// миксин для модального окна для инпутов 

@mixin input {
  width: 100%;
  min-height: 42px;
  margin-bottom: 30px;

  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 8px;

  
}