// Использован в файле typigraphy для footer

.none-decoration-white {
    text-decoration:none;
    color: #fff;
}

// Использован в файле testimonials для list-url__item_link

.none-decoration-black {
    text-decoration:none;
    color: #000;
}
