@font-face {
    font-family: "Bitter";
    src: url(../src/Fonts/bitter/Bitter-Regular.ttf);
    font-weight: 400; 
  }

  @font-face {
    font-family: "Bitter";
    src: url(../src/Fonts/bitter/Bitter-Thin.woff2);
    font-weight: 300;
  }
