@font-face {
  font-family: "Bitter";
  src: url(../src/Fonts/bitter/Bitter-Regular.ttf);
  font-weight: 400; 
}

@font-face {
  font-family: "Bitter";
  src: url(../src/Fonts/bitter/Bitter-Thin.woff2);
  font-weight: 300;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;

}


.menu-text {
  font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 86px;
}

.button-menu-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
}


.title-page {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 86px;
}

.subtitle-page {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.biography-section_header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.biography-section_name {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 86px;
}

.biography-section_text {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 26px;
}

.strong-points_header {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 24px;

}

.strong-points_strengths-header {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 100%;
  
  }

  .strong-points_strengths-list {
    list-style: none;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
  
  }

  .footer-text_text-MOD {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    
    }

    .footer-text_text-data {
      font-family: 'Roboto', serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      
      }

    .footer-text-address {
      font-family: 'Roboto', serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
    }

    .footer-text-address_phone {
      text-decoration:none;
      color: #fff;
    }
    .footer-text-address_Email {
      text-decoration:none;
      color: #fff;
    
  }
    

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

/* Секция MOD */

.mod-studio-section {
  margin-bottom: 8%;
}

.menu-text {
  margin-right: 40px;
}

.menu-header {
  display: flex;
  flex-direction: row;

  width: 97%;
  height: 135px;

  margin: 0 auto;
}

.button-menu {
  width: 85%;
  height: 28px;
  margin: auto 0;


  display: flex;
  gap: 50px;
  justify-content: end;

}

.button-menu-item {
  text-decoration:none;
  color: #000
}

.title-section {
  position: relative;
  text-align: center;

}

.title-section_background-img {
  width: 100%;
  height: 630px;

}



.title-box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 48%;
  height: 57%;
}

.title-page {
  margin-top: 12%;
}

/* Секция Biography */

.biography-section {
  max-width: 1165px;
  max-height: 840px;

  margin: 0 auto 8%;

  display: flex;
  flex-direction: row;

}

.biography-section-box-img {
  max-width: 571px;
}

.biography-section_main-disigner-img {
  width: 100%;
}

.biography-section_header {

  transform: rotate(-90deg); 
  align-self: flex-start;
  padding: 30px 0 50px;
  /* writing-mode: vertical-lr; */
  /* не стала использовать,так как поворачивает только в одну сторону не зависимо от значения  */
}

.biography-section_box-text {
  width: 485px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  }

.biography-section_name {
  padding-bottom: .4em;
}


.biography-section_skills_item {
  display: inline-block;
  list-style: none;
}

.biography-section_skills_item::after {
  content: "/";
  margin-left: .3em;

}

.biography-section_skills_item:last-child::after {
  content: "";
  
}

.biography-section_text::before {
  content: "-";
  display: block;
  padding: 4%;
}

biography-section
.biography-section_text {
  line-height: 31px;
}




/*  designers-section */

.designers-section {
  width: 98.6%;
  height: 677px;

  margin: 0 auto 8%;

  display: flex;
  flex-direction: column;

  /* gap: 3%; */
}


.designers-section_header {
  width: 98.6%;
  padding-left: 110px;
  padding-bottom: 30px;
}

.designers-section_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  max-width: 98.6%;
  height: 619px;

  gap: 20px;

  overflow-y: auto;

  /* max-height: 100vh; */
  /* убрать коммент - прокрутка будет всегда видимой */
}

.designers-section_big-box-text {
  padding-left: 240px;
}

.designer_name {
  padding-top: 20px;
}

.designer_skills {
  padding-bottom: 15px;
}

.designer_from::before {
  content: "From/";
  font-weight: bold;
}

.designer_skills::before {
  content: "Skills/";
  font-weight: bold;
}

.designer_skills {
  list-style: none;
  padding: 0;
}

.designer_skills-item {
  display: inline-block;
}

.designer_skills-item::after {
  content: "/";
  margin-left: .3em;
}

.designer_skills-item:last-child:after {
  content: "";
}






 /* Секция Testimonials */

.testimonials-section {
  width: 80.6%;
  max-height: 760px;
  margin: 0 auto 8%;


  display: flex;
}

.testimonials-website-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  writing-mode: vertical-rl;

  max-height: 760px;
}

.testimonials_item-website {
  transform: rotate(-180deg);
  margin: 10px 40px 10px 20px;
}

.testimonials_box-img_testimoniail-main-creative {
  max-width: 451px;
  max-height: 760px;
}

.testimonials_header {
  align-self: flex-start;
  transform: rotate(-90deg);
  align-content: center;
  margin-top: 10px ;
  padding-bottom: 8%;

}

.testimonials_second-box {
  max-width: 221px;
  max-height: 760px;

  align-content: center;
  margin: 0 10%;

}

.testimonials_text {

  display: flex;

  max-width: 221px;
  max-height: 304px;
  text-align: center;

  margin: 0 auto 8%;
}

q {
  quotes: none;
}

.testimonials_box-img_testimoniail-second-creative {
  max-width: 221px;
  max-height: 333px;

  margin: 0 auto;
}



/* Секция Strong points */

.strong-points {
  /* width: 100%; */
  margin-bottom: 8%;
}

.strong-points_header {
  padding-top: 0;
  padding-left: 17%;
  margin-bottom: 2%;
}

.strong-points_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  max-height: 555px;
  padding: 10px;
  overflow-x: scroll;
}

.strong-points_box-img {
  max-width: 335px;
  max-height: 554px;
}
.strong-points_strengths-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 451px;
}
.strong-points_strengths-header {
  margin-bottom: 20px;
}
.strong-points_strengths-list {
  list-style: none;
}


/* Футер с контактами */

.footer {
  width: 100%;
  height: 168px;

  background-color: #000;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.footer-text-address {
  padding-left: 20px;
  justify-self: start;

  display: flex;
  flex-direction: column;
}

.footer-text_text-data {
  justify-self: end;
  padding-right: 20px;

}

