/* Проверить html - переписать медификаторы - отвечает на вопрос какой? - переправить и по стилям
Вынести шрифты в отдельный файл 
миксин - вынести шрифты для мобильной верстки 
распредилить блоки по препроцессорным файлам и импортировать в основной файл */



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* импорт шрифтов */
  @import "sass/base/typography";

  /*  импорт меню или по другому можно назвать навигация по лендингу  */

  @import "sass/layout/navigation.scss";
  
   /* импорт cover-container или иначе можно назвать обложки лендинга  */

  @import "sass/base/cover.scss";
  
  
  /*  импорт стилей biography-container */

  @import "sass/base/biography.scss";
  
  
  /*  designers-container */
  
  .designers-container {
    width: 98.6%;
    height: 677px;
  
    margin: 0 auto 8%;
  
    display: flex;
    flex-direction: column;
  
  }
  
  
  .designers-container__header {
    width: 98.6%;
    padding-left: 110px;
    padding-bottom: 30px;
  }
  
  .designers-container__box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  
    max-width: 98.6%;
    height: 619px;
  
    gap: 20px;
  
    overflow-y: auto;
  
    /* max-height: 100vh; */
    /* убрать коммент - прокрутка будет всегда видимой */
  }
  
  .inner-box-big__text-img-big {
    padding-left: 240px;
  }
  
  .text__designer-name {
    padding-top: 20px;
  }
  
  .designer-skills {
    padding-bottom: 15px;
  }
  
  .text__designer-from::before {
    content: "From/";
    font-weight: bold;
  }
  
  .text__designer-skills::before {
    content: "Skills/";
    font-weight: bold;
  }
  
  .text__designer-skills {
    list-style: none;
    padding: 0;
    margin-bottom: 5%;
  }
  
  .designer-skills__item {
    display: inline-block;
  }
  
  .designer-skills__item::after {
    content: "/";
    margin-left: .3em;
  }
  
  .designer-skills__item:last-child:after {
    content: "";
  }
  
  @media screen and (max-width: 768px) {
    /* верстка мобильная - смартфон*/
  
    .designers-container {
      height: 580px;
      padding: 0 10px;
  
      margin: 0 auto 15%;
      
    }
  
    .designers-container__header {
      font-size: 18px;
      line-height: 21px;
  
      padding-left: 0;
      padding-bottom: 10px;
  
    }
  
    .inner-box-big__text-img-big {
      padding-left: 0;
    }
  
  }
  
  
  
   /* Секция Testimonials */
  
   .testimonials-container {
      display: grid;
      grid-template-columns: 1fr 100px 1fr;
      margin: 0 auto 8%;
   }
  
   .testimonials-container__header {
      grid-column: 2/3; 
      grid-row: 1/2;
      align-self: start;
      width: 180px;
      height: 160px;
      transform: rotate(-90deg);
   }
  
   .websites-box {
      grid-column: 1/2;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  
   }
  
  
  .websites-list {
    width: 80px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
  }
  
  .websites-item {
    transform-origin: top left;
    transform: rotate(-90deg);
  }
  
  
  .testimonials-container__quotes-box {
    grid-column: 3/4;
    max-width: 221px; 
    max-height: 760px;
    align-content: center;
    margin: 0 20%;
  }
  
  .quotes__text {
  
    display: flex;
  
    max-width: 221px;
    max-height: 304px;
    text-align: center;
  
    margin: 0 auto 8%;
  }
  
  
  q {
    quotes: none;
  }
  
  .websites-item__link {
    text-decoration:none;
    color: #000
  }
  
  @media screen and (max-width: 768px) {
    /* верстка мобильная - смартфон*/
  
    .testimonials-container {
      display: flex;
      flex-direction: column-reverse;
  
      width: 98%;
      padding: 0 10px;
  
      margin: 0 auto 15%;
    }
  
    .testimonials-container__header {
      order: 4;
      transform: none;
  
      width: 100%;
      height: 50px;
  
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
  
      text-align: end;
    }
  
    .websites-box__img-main {
      display: none;
    }
  
    .testimonials-container__quotes-box {
      max-width: 450px;
      margin: 0 auto 8%;
    }
  
    .quotes__text {
      display: flex;
      max-width: 342px;
      max-height: 200px;
      text-align: center;
  
      font-family: 'Bitter';
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
  
    }
  
    .quotes__box-img {
      margin: 0 auto;
    }
  
    .websites-item {
      transform: none;
      margin-bottom: 5%;
  
    }
  
    .websites-list {
      width: 98%;
      margin: 0 auto 8%;
  
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15%;
      justify-content: flex-start;
  
    }
  
  }
  
  
  
  /* Секция Strong points */
  
  .strong-points-container {
    margin-bottom: 8%;
  }
  
  .strong-points-container__header {
    padding-top: 0;
    padding-left: 17%;
    margin-bottom: 2%;
  }
  
  .box-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    height: 600px;
    /* width: 1440px; */
    padding: 10px;
    overflow-x: scroll;
  }
  
  .list-column {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 451px;
  }
  .list-column__header {
    margin-bottom: 20px;
  }
  .list-items {
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    /* верстка мобильная - смартфон*/
  
    .strong-points-container__header {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
  
      padding-left: 10px;
  
    }
  
    .box-carousel {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
  
      height: 470px;
  
      margin-bottom: 8%;
      overflow-x: scroll;
  
    }
  
    .list-column {
      order: 1;
      max-width: 201px;
      align-items: center;
  
    }
  
    .list-column__header {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 400;
      font-size: 46px;
      line-height: 100%;
  
    }
  
    .list-items__item {
      font-family: 'Bitter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
  
    }
  
  }
  
  
  
  /* Футер с контактами */
  
  .footer {
    width: 100%;
    height: 168px;
  
    background-color: #000;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  
    margin-bottom: 2%;
  }
  
  .company-data {
    padding-left: 20px;
    justify-self: start;
  
    display: flex;
    flex-direction: column;
  }
  
  .footer__text {
    justify-self: end;
    padding-right: 20px;
  
  }
  
  @media screen and (max-width: 768px) {
    /* верстка мобильная - смартфон*/
  
    .footer {
      display: flex;
      flex-direction: column;
      gap: 3%;
  
      width: 98%;
      /* max-height: 200px; */
      align-items: start;
  
      margin-bottom: 15%;
  
    }
  
    .footer__name {
      order: -1;
      width: 98%;
      text-align: end;
      padding-top: 20px;
    }
  
    .company-data {
      padding-left: 10px;
    
      display: flex;
      flex-direction: column;
    }
  
    .footer__text {
      padding-left: 10px;
    
    }
  
  }
  
  
  
  /* Модальное окно для отправки комментария */
  
  .modal-window {
    display: none;
  
  }