/* 
миксин - вынести шрифты для мобильной верстки 
оптимизировать файл по шрифтам 
Добавить переменную для блока дизайнеры  */


/* Скпировать сюда код, который был исправлен в ветке мобильных стилей */
/* Переправить секцию  strong-points - выправить текст - навигации по макету */
/* Проверит все ли правила шрифтов находятся в файле по типографике  */ 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* импорт шрифтов */
  @import "sass/base/typography";

  /*  импорт меню или по другому можно назвать навигация по лендингу  */
  @import "sass/layout/navigation.scss";
  
   /* импорт cover-container или иначе можно назвать обложки лендинга  */
  @import "sass/base/cover.scss";
  
  
  /*  импорт стилей biography-container */
  @import "sass/base/biography.scss";

  
  /*  импорт стилей designers-container */
  @import "sass/base/designers.scss";
  

  /*  импорт стилей testimonials-container */
  @import "sass/base/testimonials.scss";
  

  /*  импорт стилей strong-points-container */
  @import "sass/base/strongPoints.scss";

  
  /*  импорт стилей footer */
  @import "sass/layout/footer.scss";
  
  
  /*  импорт стилей modal-window */
  @import "sass/components/modalWindow.scss";
  
  