/* Модальное окно для отправки комментария */


.page {
  
  scrollbar-gutter: stable;
  
  &--scroll-locked {
    overflow: hidden; 

  }

}

.modal {
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  
  &--closed {
    display: none;
  }
}

.modal__box {
  position: absolute;
  max-width: 480px;
  background-color: #fff;
  padding: 20px;

  border: 2px solid black;
  border-radius: 10px;

}


.modal__box::before {
  content: "";
  position: absolute;     
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  transform: rotate(2deg);
  z-index: -1;
}



.modal-box__header {
  margin-bottom: 25px;
}

.modal-box__text {
  margin-bottom: 25px;
}

.input-name__text {

  margin-bottom: 10px;
}

.input-name__input {
  @include input;

  background-image: url("img/icon-name.svg");
  background-repeat: no-repeat;
  background-position: 95%;

}

.input-name__input:focus {
  border: 1px solid black;
  background-color: #f5f5f5;
}


.input-email__input {
  @include input;
  background-image: url("img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 95%;
}

.input-email__input:focus {
  border: 1px solid black;
  background-color: #f5f5f5;
}

.input-comment__input {
  @include input;
  min-height: 135px;
  text-align: start;

  background-image: url("img/icon-comment.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 6px;

  resize: none;

}

.input-comment__input:focus {
  border: 1px solid black;
  background-color: #f5f5f5;

}


.modal-box__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-box__button_cancel {
  @include button__footer;
  background-color: #fff;
  
  
}

.modal-box__button_send {
  @include button__footer;
  background-color: black;
  color: white;
}

.modal-box__button_cancel:hover {
  @include button__hover;
}

.modal-box__button_send:hover {
  @include button__hover;
}

@media screen and (max-width: 600px) {
  /* верстка мобильная*/

.modal__box {
  max-width: 350px;
  padding: 15px;
}

.modal-box__header {
  margin-bottom: 15px;
}

.modal-box__text {
  margin-bottom: 15px;
}

.input-name__input {
  @include input-mob;
}

.input-email__input {
  @include input-mob;
}

.input-comment__input {
  @include input-mob;
}


.modal-box__button_cancel {
  @include button__footer_mob;
}

.modal-box__button_send {
  @include button__footer_mob;
}


}















