/* Модальное окно для отправки комментария */
  
.page {
  
  scrollbar-gutter: stable;
  
  &--scroll-locked {
    overflow: hidden;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #455a6496;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &--closed {
    display: none;
  }
}

.modal__box {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  max-width: 600px;
  max-height: 800px;
  width: 100%;
}



