
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // импорт миксинов 
  @import "src/sass/abstracts/mixins.scss";
 
  /* импорт шрифтов */
  @import "src/sass/base/typography";

  //  импорт переменных 
  @import "sass/abstracts/variables.scss";

  /*  импорт меню или по другому можно назвать навигация по лендингу  */
  @import "src/sass/layout/navigation.scss";
  
   /* импорт cover-container или иначе можно назвать обложки лендинга  */
  @import "src/sass/base/cover.scss";
  
  
  /*  импорт стилей biography-container */
  @import "src/sass/base/biography.scss";

  
  /*  импорт стилей designers-container */
  @import "src/sass/base/designers.scss";
  

  /*  импорт стилей testimonials-container */
  @import "src/sass/base/testimonials.scss";
  

  /*  импорт стилей strong-points-container */
  @import "src/sass/base/strongPoints.scss";

  
  /*  импорт стилей footer */
  @import "src/sass/layout/footer.scss";
  
  
  /*  импорт стилей modal-window */
  @import "src/sass/components/modal.scss";
  
  